html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

/* table */
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  border-color: gainsboro;
}

th {
  display: table-cell;
  background-color: whitesmoke;
  vertical-align: inherit;
  font-weight: 700;
  text-align: -internal-center;
  padding: 7px;
}

td {
  display: table-cell;
  vertical-align: inherit;
  font-weight: 300;
  padding: 7px;
}

/* code */
code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(175, 184, 193, 0.2);
  border-radius: 6px;
}
